.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 160px;
    height: 40px;
}

.upper{
    display: flex;
    flex-direction: row;  
    width: 100%;
    border-bottom: solid black 1px;
}

.naverlogo{
    font: lightgray;
}

.shoppinglogo{
    font-size: 14px;
    margin-left: 10px;
}

.mid{
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
}

.linky{
    text-decoration: none;
    color: inherit;
}

.searchset{
    display: flex;
    flex-direction: row;
    height: 40px;
    border: black solid 2px;
    border-radius: 20px;
    align-items: center;
    padding-left: 7px;
}

.search1{
    border:none;    
}

.search1:focus{
    outline: none;
}

.search2{
    width: 25px;
    height: 25px;
    padding: 0px 5px;
}

.search2:hover{
    cursor: pointer;  
}

.lowertab{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    height: 60px !important;
    width: 100%;
    list-style: none;
    padding-left: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 30px;
    align-items: center;
}

.leftbar{
    font-size: 14px;
    color: black;
    padding: 0px 20px;
}

.leftbar:hover{
    color: rgb(57, 152, 184);
    font-weight: bold;
}

.rightbar{
    text-decoration-line: none !important;
    font-size: 14px;
    color: gray;
    padding: 0px 20px;
}

.rightbar:hover{
    color: black;
    font-weight: bold;
}

Link{
    text-decoration: none !important;
}